body {
  font-family: Libre Franklin, airal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-image:(url=);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  display: inline-block;
}

header h1 {
  margin: 0;
  font-size: 45px;
}

header p {
  margin: 10px 0;
  font-size: 20px;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about {
  background-color: #fff;
}

.skills {
  background-color: #e91e63; 
  color: #fff;
}

.skills ul {
  padding: 0;
}

.skills li {
  margin-bottom: 10px;
}

.contact {
  background-color: #fff;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}